<div class="footer-container">
    <div class="container">
        <div class="left">
            <a href="https://marketing.goimage.com.br/go-image-termos-de-uso?_gl=1*ko3xs2*_ga*MTY5MDY5NTcyMC4xNzE3MjAyMjg3*_ga_57X5GS12D6*MTcxNzIwMjI4Ni4xLjEuMTcxNzIwMjI5Ny40OS4wLjA."
                target="_blank">Termos de uso</a>
            <a href="https://marketing.goimage.com.br/goimage-politica-de-privacidade?_gl=1*1vfb7a1*_ga*MTY5MDY5NTcyMC4xNzE3MjAyMjg3*_ga_57X5GS12D6*MTcxNzIwMjI4Ni4xLjEuMTcxNzIwMjMwOC4zOC4wLjA."
                target="_blank">Política de privacidade</a>
        </div>
        <div class="right">
            <a href="https://www.facebook.com/goimage/" target="_blank">
                <div class="icon">
                    <mat-icon svgIcon="facebook_icon"></mat-icon>
                    <span>Facebook</span>
                </div>
            </a>
            <a href="https://www.instagram.com/goimage/" target="_blank">
                <div class="icon">
                    <mat-icon svgIcon="instagram_icon"></mat-icon>
                    <span>Instagram</span>
                </div>
            </a>
            <a href="https://www.youtube.com/user/goimage1" target="_blank">
                <div class="icon">
                    <mat-icon svgIcon="youtube_icon"></mat-icon>
                    <span>YouTube</span>
                </div>
            </a>
        </div>
    </div>
</div>